$fuentePrincipal: 'Montserrat',
sans-serif;
//colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000;
$blanco: #FFF;
//MediaQueries
$telefono: 480px;
$tablet: 768px;
$destop: 1200px;
//Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
//Separacion
$separacion: 2.5rem;