.footer {
    background-color: $rosa;
    padding: 1.5rem;
    p {
        text-align: center;
        margin: 0;
        text-transform: uppercase;
        color: $blanco;
        font-weight: $regular;
    }
}